@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --padding: min(40px, 4vmin)
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    background-color: #f0f0f0;
}
a {
    text-decoration: none;
    color: inherit;
}
#background {
    position: fixed;
    z-index: 1;
    left: var(--padding);
    right: var(--padding);
    top: var(--padding);
    bottom: var(--padding);
    pointer-events: none;
    overflow: hidden;
    border: 1px solid black;
}
#header {
    position: fixed;
    z-index: 10;
    left: calc(var(--padding)*2);
    top: calc(var(--padding)*2);
}
#header nav {
    margin-top: 50px;
}
#header nav ol {
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
#header p {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.name {
    font-family: 'Homemade Apple', cursive;
    font-size: 3rem;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 0px;
    padding-left: 1rem;
}
@media (min-width: 1280px){
    .name {
        font-family: 'Homemade Apple', cursive;
        font-size: 5rem;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 0px;
        padding: 1rem;
    }
    #header p {
        font-size: 5rem;
    }
    #header nav ol a {
        font-size: 3rem;
    }
    h3 {
        font-size: 5rem;
    }
}
@media (max-width: 420px){
    .name {
        font-family: 'Homemade Apple', cursive;
        font-size: 1rem;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 0px;
        padding: 1rem;
    }
    #header p {
        font-size: 1rem;
    }
    #header nav ol a {
        font-size: 1rem;
    }
    #header nav ol {
        margin-top: 0px;
        row-gap: 5px;
    }
    h3 {
        font-size: 1rem;
    }
    .skill-item h4 {
        font-size: 1rem;
    }
}


.section-wrapper {
    z-index: 10;
    right: calc(var(--padding)*2);
    display: block;
}
.section {
    display: none;
    position: absolute;
    max-width: calc(100% - var(--padding)*4);
    right: calc(var(--padding)*2);
    bottom: calc(var(--padding)*2);
}
.skills-items {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}
.skill-item {
    width: calc(100% / 3)
}
.night-mood {
    display:none;
}
.mood-switcher {
    display:none;
}
