@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    background-color: #f0f0f0;
}
.day-mood h1, .day-mood h2, .day-mood h3, .day-mood h4,.day-mood h5,.day-mood h6 {
    font-family: 'Homemade Apple', cursive;
    font-weight: 300;
    font-size: 5rem;
    color: #000;
}
.name {
    font-family: 'Homemade Apple', cursive;
    font-size: 3rem;
    text-align: left;
    margin-top: 2rem;
    padding: 1rem;
}

.pages-container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;

}
.section {
    display: block;
    width: 100%;
    height: 100vh;
    background-size:  cover;
    scroll-snap-align: start;
    
    z-index: 100;
}
.header p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
    color: #181818;
    text-align: center;
}
.page-1 {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}
.page-content {
    padding-left: 50px;
}
    
.about-me { width: 50% }
.experience { width:50%; }
.achievements { width:50% }


.skills-content {
}
    
    .header-skills { width:100% }
    .skills-1 { width:30% }
    .skills-2 { width:30% }
    .skills-3 { width:30% }


.night-mood {
    display:none;
}
